In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("movies.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
movieId    27278 non-null int64
title      27278 non-null object
genres     27278 non-null object
dtypes: int64(1), object(2)
memory usage: 639.4+ KB

In [5]:
data.count()

movieId    27278
title      27278
genres     27278
dtype: int64

In [6]:
movies = data['movieId'].unique().tolist()
len(movies)

27278

In [7]:
rating_data = pd.read_csv("ratings.csv")

In [8]:
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

In [9]:
rating_data.describe()

             userId       movieId        rating     timestamp
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00  1.100918e+09
std    4.003863e+04  1.978948e+04  1.051989e+00  1.621694e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.439500e+04  9.020000e+02  3.000000e+00  9.667977e+08
50%    6.914100e+04  2.167000e+03  3.500000e+00  1.103556e+09
75%    1.036370e+05  4.770000e+03  4.000000e+00  1.225642e+09
max    1.384930e+05  1.312620e+05  5.000000e+00  1.427784e+09

In [10]:
rating_data.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [11]:
rating_data.tail()

          userId  movieId  rating   timestamp
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

In [12]:
users = rating_data['userId'].tolist()
movies = rating_data['movieId'].tolist()
ratings = rating_data['rating'].tolist()

In [13]:
from keras.layers import Dense, Embedding, Input, Flatten, Dropout, concatenate
from keras.optimizers import Adam
from keras.models import Sequential, Model
from keras import backend as K

Using TensorFlow backend.

In [14]:
rating_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

In [15]:
n_users = len(rating_data['userId'])
n_items = len(rating_data['movieId'])
n_factors = 50

In [16]:
user_in = Input(shape=(1,), dtype='int64', name='user_in')
items_in = Input(shape=(1,), dtype='int64', name='items_in')
u = Embedding(n_users, n_factors, input_length=1)(user_in)
i = Embedding(n_items, n_factors, input_length=1)(items_in)
x = concatenate([u, i])
x = Flatten()(x)
x = Dense(50, activation='relu')(x)
x = Dropout(rate=0.5)(x)
x = Dense(1)(x)
model = Model([user_in, items_in], x)
model.compile(Adam(0.001), loss='mse', metrics=["mse"])

WARNING:tensorflow:From /home/siddharth/.local/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/siddharth/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [ ]:
model.fit([users, movies], ratings)

WARNING:tensorflow:From /home/siddharth/.local/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

/home/siddharth/.local/lib/python3.6/site-packages/tensorflow/python/ops/gradients_impl.py:107: UserWarning: Converting sparse IndexedSlices to a dense Tensor with 1000013150 elements. This may consume a large amount of memory.
  num_elements)

Epoch 1/1